name: CI - Test HTML

on:
  push:
    branches: ["main"]

jobs:
  test-html:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validation HTML
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: .
